.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.15rem;
        line-height: 1.6;
        margin-bottom: 40px;
        font-weight: 400;
        @include media-breakpoint-up(md) {
          font-size: 1.25rem;
          line-height: 1.55;
          margin-bottom: 40px;
        }
      }
    }
  }
}
