.logo {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
    width: 140px;
  }
  img {
    width: 100%;
    height: auto;
    transition: filter 0.2s ease;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header-absolute & {
    img {
      filter: brightness(0) invert(1);
    }
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
